DC_DISPATCHER_IMAGE=lavasoftware/lava-dispatcher:2022.01.3
DC_DISPATCHER_HOSTNAME=remote_worker_name
DC_LAVA_SERVER_HOSTNAME=https://lkft.validation.linaro.org
DC_LAVA_MASTER_HOSTNAME=lkft.validation.linaro.org.
DC_LAVA_LOGS_HOSTNAME=lkft.validation.linaro.org
DC_TOKEN=secret_token
http_proxy=
https_proxy=
ftp_proxy=

KC_IMAGE=registry.gitlab.com/linaro/kisscache:latest
KC_POSTGRES_IMAGE=postgres:11.2-alpine
KC_REDIS_IMAGE=redis:latest
KC_FRONT_PORT=8001
KC_WEB_SCALE=2
GUNICORN_WORKERS=6
GUNICORN_THREADS=10
CELERY_CONCURRENCY=30
